In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
train_all_features = pd.read_csv(r"C:\Users\HP\Desktop\SDP\Used-Car-Price-Predictor\cars_data\train.csv")

In [44]:
train_all_features.columns

Index(['id', 'car_name', 'yr_mfr', 'fuel_type', 'kms_run', 'sale_price',
       'city', 'times_viewed', 'body_type', 'transmission', 'variant',
       'assured_buy', 'registered_city', 'registered_state', 'is_hot', 'rto',
       'source', 'make', 'model', 'car_availability', 'total_owners',
       'broker_quote', 'original_price', 'car_rating', 'ad_created_on',
       'fitness_certificate', 'emi_starts_from', 'booking_down_pymnt',
       'reserved', 'warranty_avail'],
      dtype='object')

In [45]:
train = train_all_features[['car_name', 'yr_mfr', 'fuel_type', 'kms_run','city','body_type', 'transmission','total_owners','original_price','warranty_avail']]

In [46]:
train.to_csv('final_train.csv')

In [47]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,maruti swift,2015,petrol,8063,noida,hatchback,manual,2,404177.0,False
1,maruti alto 800,2016,petrol,23104,noida,hatchback,manual,1,354313.0,False
2,hyundai grand i10,2017,petrol,23402,noida,hatchback,manual,1,NaN,False
3,maruti swift,2013,diesel,39124,noida,hatchback,manual,1,374326.0,False
4,hyundai grand i10,2015,petrol,22116,noida,hatchback,manual,1,367216.0,False

In [48]:
train.shape

(6399, 10)

In [51]:
def strip_car(i):
    k = i.split()
    i = k[0]
    if i == 'opel': 
        return 0,
    if i == 'chevrolet': 
        return 1,
    if i == 'datsun': 
        return 2
    if i == 'mitsubishi': 
        return 3
    if i == 'fiat': 
        return 4
    if i == 'nissan': 
        return 5
    if i == 'renault': 
        return 6
    if i == 'maruti': 
        return 7
    if i == 'hyundai': 
        return 8
    if i == 'honda': 
        return 9
    if i == 'tata': 
        return 10
    if i == 'ford': 
        return 11
    if i == 'volkswagen': 
        return 12
    if i == 'skoda': 
        return 13
    if i == 'ssangyong': 
        return 14
    if i == 'mahindra': 
        return 15
    if i == 'toyota': 
        return 16
    if i == 'isuzu': 
        return 17
    if i == 'bmw': 
        return 18
    if i == 'mercedes': 
        return 19
    if i == 'volvo': 
        return 20
    if i == 'jeep': 
        return 21
    if i == 'audi': 
        return 22
    if i == 'kia': 
        return 23
    if i == 'mg': 
        return 24
    if i == 'jaguar': 
        return 25

In [52]:
train['car_name'] = train['car_name'].apply(strip_car)

<ipython-input-52-48ab3c06366d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['car_name'] = train['car_name'].apply(strip_car)

In [53]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,petrol,8063,noida,hatchback,manual,2,404177.0,False
1,7,2016,petrol,23104,noida,hatchback,manual,1,354313.0,False
2,8,2017,petrol,23402,noida,hatchback,manual,1,NaN,False
3,7,2013,diesel,39124,noida,hatchback,manual,1,374326.0,False
4,8,2015,petrol,22116,noida,hatchback,manual,1,367216.0,False

In [33]:
train.shape

(6399, 10)

Do the same for every feature now :)