In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
train_all_features = pd.read_csv(r"C:\Users\HP\Desktop\SDP\Used-Car-Price-Predictor\cars_data\train.csv")

In [40]:
train_all_features.columns

Index(['id', 'car_name', 'yr_mfr', 'fuel_type', 'kms_run', 'sale_price',
       'city', 'times_viewed', 'body_type', 'transmission', 'variant',
       'assured_buy', 'registered_city', 'registered_state', 'is_hot', 'rto',
       'source', 'make', 'model', 'car_availability', 'total_owners',
       'broker_quote', 'original_price', 'car_rating', 'ad_created_on',
       'fitness_certificate', 'emi_starts_from', 'booking_down_pymnt',
       'reserved', 'warranty_avail'],
      dtype='object')

In [41]:
train = train_all_features[['car_name', 'yr_mfr', 'fuel_type', 'kms_run','city','body_type', 'transmission','total_owners','original_price','warranty_avail', 'sale_price']]

In [42]:
train.to_csv('final_train.csv')

In [43]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,maruti swift,2015,petrol,8063,noida,hatchback,manual,2,404177.0,False
1,maruti alto 800,2016,petrol,23104,noida,hatchback,manual,1,354313.0,False
2,hyundai grand i10,2017,petrol,23402,noida,hatchback,manual,1,NaN,False
3,maruti swift,2013,diesel,39124,noida,hatchback,manual,1,374326.0,False
4,hyundai grand i10,2015,petrol,22116,noida,hatchback,manual,1,367216.0,False

In [44]:
train.shape

(6399, 10)

In [45]:
def strip_encode_car(i):
    k = i.split()
    i = k[0]
    if i == 'opel': 
        return 0,
    if i == 'chevrolet': 
        return 1,
    if i == 'datsun': 
        return 2
    if i == 'mitsubishi': 
        return 3
    if i == 'fiat': 
        return 4
    if i == 'nissan': 
        return 5
    if i == 'renault': 
        return 6
    if i == 'maruti': 
        return 7
    if i == 'hyundai': 
        return 8
    if i == 'honda': 
        return 9
    if i == 'tata': 
        return 10
    if i == 'ford': 
        return 11
    if i == 'volkswagen': 
        return 12
    if i == 'skoda': 
        return 13
    if i == 'ssangyong': 
        return 14
    if i == 'mahindra': 
        return 15
    if i == 'toyota': 
        return 16
    if i == 'isuzu': 
        return 17
    if i == 'bmw': 
        return 18
    if i == 'mercedes': 
        return 19
    if i == 'volvo': 
        return 20
    if i == 'jeep': 
        return 21
    if i == 'audi': 
        return 22
    if i == 'kia': 
        return 23
    if i == 'mg': 
        return 24
    if i == 'jaguar': 
        return 25

In [46]:
train['car_name'] = train['car_name'].apply(strip_encode_car)

<ipython-input-46-b16d7216bc6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['car_name'] = train['car_name'].apply(strip_encode_car)

In [47]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,petrol,8063,noida,hatchback,manual,2,404177.0,False
1,7,2016,petrol,23104,noida,hatchback,manual,1,354313.0,False
2,8,2017,petrol,23402,noida,hatchback,manual,1,NaN,False
3,7,2013,diesel,39124,noida,hatchback,manual,1,374326.0,False
4,8,2015,petrol,22116,noida,hatchback,manual,1,367216.0,False

In [48]:
train.shape

(6399, 10)

In [49]:
def fuel(i):
    if i == 'petrol & lpg':
        return 0
    if i == 'petrol & cng':
        return 1
    if i == 'petrol':
        return 2
    if i == 'electric':
        return 3
    if i == 'diesel':
        return 4

In [50]:
train['fuel_type'] = train['fuel_type'].apply(fuel)

<ipython-input-50-7220a62e20cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['fuel_type'] = train['fuel_type'].apply(fuel)

In [51]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,2,8063,noida,hatchback,manual,2,404177.0,False
1,7,2016,2,23104,noida,hatchback,manual,1,354313.0,False
2,8,2017,2,23402,noida,hatchback,manual,1,NaN,False
3,7,2013,4,39124,noida,hatchback,manual,1,374326.0,False
4,8,2015,2,22116,noida,hatchback,manual,1,367216.0,False

In [52]:
def body(i):
    if i == 'hatchback':
        return 0
    if i == 'sedan':
        return 1
    if i == 'suv':
        return 2
    if i == 'luxury sedan':
        return 3
    if i == 'luxury suv':
        return 4

In [53]:
train['body_type'] = train['body_type'].apply(body)

<ipython-input-53-7fa1a9d31d2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['body_type'] = train['body_type'].apply(body)

In [54]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,2,8063,noida,0.0,manual,2,404177.0,False
1,7,2016,2,23104,noida,0.0,manual,1,354313.0,False
2,8,2017,2,23402,noida,0.0,manual,1,NaN,False
3,7,2013,4,39124,noida,0.0,manual,1,374326.0,False
4,8,2015,2,22116,noida,0.0,manual,1,367216.0,False

In [55]:
def transmission(i):
    import math
    if i == 'manual':
        return 0
    if i == 'automatic':
        return 1

In [56]:
train['transmission'] = train['transmission'].apply(transmission)

<ipython-input-56-b88ce87bc218>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['transmission'] = train['transmission'].apply(transmission)

In [62]:
train.transmission.isna().sum()

0

In [58]:
train['transmission'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: transmission, dtype: float64

In [61]:
train['transmission'] = train['transmission'].fillna(2)

<ipython-input-61-2e8e4eb5a402>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['transmission'] = train['transmission'].fillna(2)

In [63]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,2,8063,noida,0.0,0.0,2,404177.0,False
1,7,2016,2,23104,noida,0.0,0.0,1,354313.0,False
2,8,2017,2,23402,noida,0.0,0.0,1,NaN,False
3,7,2013,4,39124,noida,0.0,0.0,1,374326.0,False
4,8,2015,2,22116,noida,0.0,0.0,1,367216.0,False

In [64]:
def warranty(i):
    if i == True:
        return 1
    if i == False:
        return 2

In [65]:
train['warranty_avail'] = train['warranty_avail'].apply(warranty)

<ipython-input-65-6702ead27202>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['warranty_avail'] = train['warranty_avail'].apply(warranty)

In [66]:
train.head()

,car_name,yr_mfr,fuel_type,kms_run,city,body_type,transmission,total_owners,original_price,warranty_avail
0,7,2015,2,8063,noida,0.0,0.0,2,404177.0,2
1,7,2016,2,23104,noida,0.0,0.0,1,354313.0,2
2,8,2017,2,23402,noida,0.0,0.0,1,NaN,2
3,7,2013,4,39124,noida,0.0,0.0,1,374326.0,2
4,8,2015,2,22116,noida,0.0,0.0,1,367216.0,2

In [68]:
train = pd.get_dummies(train, columns=['city'], drop_first=True)

In [ ]:
train.head()